{{! make the _globals object in course.json available to this template}}
{{import_globals}}
<div class="resources-inner">
    {{{a11y_aria_label _globals._extensions._resources.resources}}}
    {{#resources_has_multiple_types resources}}
        <div class="resources-filter clearfix resources-col-{{resources_get_column_count resources}}">
            <button class="base resources-show-all selected" data-filter="all"
                    aria-label="{{model._filterAria.allAria}}">
                <span>{{model._filterButtons.all}}</span>
            </button>
            {{#resources_has_type resources 'dock1'}}
                <button class="base resources-show-1" data-filter="dock1"
                        aria-label="{{model._filterAria.1Aria}}">
                    <span>{{model._filterButtons.dock1}}</span>
                </button>
            {{/resources_has_type}}
            {{#resources_has_type resources 'dock2'}}
                <button class="base resources-show-2" data-filter="dock2"
                        aria-label="{{model._filterAria.2Aria}}">
                    <span>{{model._filterButtons.dock2}}</span>
                </button>
            {{/resources_has_type}}
            {{#resources_has_type resources 'dock3'}}
                <button class="base resources-show-3" data-filter="dock3" aria-label="{{model._filterAria.3Aria}}">
                    <span>{{model._filterButtons.dock3}}</span>
                </button>
            {{/resources_has_type}}
            {{#resources_has_type resources 'dock4'}}
                <button class="base resources-show-4" data-filter="dock4" aria-label="{{model._filterAria.4Aria}}">
                    <span>{{model._filterButtons.dock4}}</span>
                </button>
            {{/resources_has_type}}
        </div>
    {{/resources_has_multiple_types}}
    <div class="resources-item-container" role="list">
        {{#each resources}}
            <div class="resources-item drawer-item {{_type}}" role="listitem">
                <a href="{{_link}}" class="base resources-item-open drawer-item-open"
                   data-type="{{_type}}"
                    {{#resources_force_download this}}
                   download="{{filename}}"
                    {{/resources_force_download}}
                   target="_blank"
                   aria-label="{{{title}}}. {{lookup ../model._filterButtons _type}}.{{#if
                           description}} {{{description}}}.{{/if}}">
                    <div class="drawer-item-title">
                        <div class="drawer-item-title-inner h5">{{{title}}}</div>
                    </div>
                    <div class="drawer-item-description">
                        <div class="drawer-item-description-inner">{{{description}}}</div>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
</div>
